<!---------------------------------------------
Seleccionar una lineas en especifico y borrar
----------------------                         |
                                     
                                               |
Comado para:
Windows :    CTRL + Alt + ↑ / ↓               |
Windows y Linux: SHIFT+CTRL+ + Alt↑ / ↓         |
MAC:  SHIFT + Alt (⌥) + ↑ / ↓
                                               |
________________________________________________
 -->

 <!-- Inicio-->
 <li>hola</li>
 <li>hola</li>
 <li>hola</li>
 <li>hola</li>
 <li>hola</li>
 <li>hola</li>
 <li>hola</li>
 <li>hola</li>
 <li>hola</li>
 <li>hola</li>
<!-- Final -->





<!-- **Resultados** 

<li>hola</li>
<li>hola</li>
<li>hola</li>

-->